#Auth_user {
    width: 300px;
    padding: 20px;

    background-color: #2F70AF;
    box-shadow: 0 3px 5px 1px #26588a;  

    flex-direction: column;
    gap: 20px;

    border-radius: 30px;
    color: white;
}

#Auth_user form {
    flex-direction: column;
    gap: 10px;

}

#Auth_user input {
    padding: 15px;
    border-radius: 20px;
    border: 0;
    background-color: #ede6e7;
}

#Auth_user button {
    padding: 15px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(228, 174, 94);
}